# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
env/
venv/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Ignore compiled C extensions
*.so

# Ignore settings and secret files
.env
*.env

# Ignore system-specific files
.DS_Store       # macOS system file
Thumbs.db       # Windows system file

# Ignore IDE project files
.vscode/
.idea/

# Ignore test coverage reports
htmlcov/
*.coverage
.coverage.*

# Ignore build and distribution directories
build/
dist/
*.egg-info/

# Ignore pip dependency caches
pip-wheel-metadata/

